{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Description": "This template creates a Search Index on the MongoDB Atlas API, this will be billed to your Atlas account.",
  "Mappings": {},
  "Resources": {
    "SearchDeployment": {
      "Type": "{{ .ResourceTypeName }}",
      "Properties": {
        "Profile": "{{ .Profile }}",
        "ProjectId": "{{ .ProjectID }}",
        "ClusterName": "{{ .ClusterName }}",
        "Specs": [
          {
            "InstanceSize": "{{ .InstanceSize }}",
            "NodeCount": {{ .NodeCount }}
          }
        ]
      }
    }
  },
  "Outputs": {
    "SearchDeploymentId": {
      "Description": "Search Deployment ID",
      "Value": {
        "Fn::GetAtt": [
          "SearchDeployment",
          "Id"
        ]
      }
    },
    "SearchDeploymentStateName": {
      "Description": "Search Deployment State",
      "Value": {
        "Fn::GetAtt": [
          "SearchDeployment",
          "StateName"
        ]
      }
    }
  }
}
