# macOS
.DS_Store
._*

# our logs
rpdk.log

#compiled file
bin/

#vendor
vendor/

create.json
delete.json
update.json
.hypothesis/

# any "dot"-file, anywhere almost
**/.*
!/.github
!/.gitignore
.taskcat_overrides.yml

**/makebuild
**/functions/packages
**/taskcat_outputs/
**/inputs/**
pytestdebug.log
