{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Description": "This template creates a global GEOSHARDED cluster and a FLEX cluster",
  "Mappings": {},
  "Resources": {
    "Cluster": {
      "Type": "{{ .ResourceTypeName }}",
      "Properties": {
        "Name": "{{ .Name }}",
        "ProjectId": "{{ .ProjectID }}",
        "Profile": "{{ .Profile }}",
        "AdvancedSettings": {
          "DefaultReadConcern": "available",
          "DefaultWriteConcern": "1",
          "JavascriptEnabled": "true",
          "MinimumEnabledTLSProtocol": "TLS1_2",
          "NoTableScan": "false",
          "OplogSizeMB": "2000",
          "SampleSizeBIConnector": "110",
          "SampleRefreshIntervalBIConnector": "310",
          "TlsCipherConfigMode": "CUSTOM",
          "CustomOpensslCipherConfigTls12": [
            "TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256",
            "TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384"
          ]
        },
        "BackupEnabled": "false",
        "ClusterType": "GEOSHARDED",
        "Paused": "false",
        "PitEnabled": "false",
        "BiConnector": {
          "ReadPreference": "secondary",
          "Enabled": "false"
        },
        "ReplicationSpecs": {{ marshal .ReplicationSpecs }},
        "Tags": [
          {
            "Key": "env",
            "Value": "development"
          }
        ]
      }
    },
    "FlexCluster": {
      "Type": "{{ .ResourceTypeName }}",
      "Properties": {
        "Name": "{{ .FlexName }}",
        "ProjectId": "{{ .ProjectID }}",
        "Profile": "{{ .Profile }}",
        "ClusterType": "REPLICASET",
        "ReplicationSpecs": [
          {
            "AdvancedRegionConfigs": [
              {
                "RegionName": "US_EAST_1",
                "BackingProviderName": "AWS",
                "ProviderName": "FLEX",
                "Priority": 7
              }
            ]
          }
        ],
        "Tags": [
          {
            "Key": "env",
            "Value": "flex-development"
          }
        ]
      }
    }
  },
  "Outputs": {
    "MongoDBAtlasConnectionStrings": {
      "Description": "Cluster connection strings",
      "Export": {
        "Name": {
          "Fn::Sub": "${AWS::StackName}-ConnectionStrings"
        }
      },
      "Value": {
        "Fn::GetAtt": [
          "Cluster",
          "ConnectionStrings.Standard"
        ]
      }
    },
    "MongoDBAtlasClusterID": {
      "Description": "Cluster Id",
      "Export": {
        "Name": {
          "Fn::Sub": "${AWS::StackName}-ID"
        }
      },
      "Value": {
        "Fn::GetAtt": [
          "Cluster",
          "Id"
        ]
      }
    },
    "MongoDBAtlasFlexClusterID": {
      "Description": "Flex Cluster Id",
      "Export": {
        "Name": {
          "Fn::Sub": "${AWS::StackName}-FlexID"
        }
      },
      "Value": {
        "Fn::GetAtt": [
          "FlexCluster",
          "Id"
        ]
      }
    },
    "MongoDBAtlasFlexClusterConnectionStrings": {
      "Description": "Flex Cluster connection strings",
      "Export": {
        "Name": {
          "Fn::Sub": "${AWS::StackName}-FlexConnectionStrings"
        }
      },
      "Value": {
        "Fn::GetAtt": [
          "FlexCluster",
          "ConnectionStrings.Standard"
        ]
      }
    },
    "MongoDBAtlasFlexClusterStateName": {
      "Description": "Flex Cluster State",
      "Value": {
        "Fn::GetAtt": [
          "FlexCluster",
          "StateName"
        ]
      }
    }
  }
}
