{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Description": "This template defines a project in Atlas.",
  "Mappings": {},
  "Resources": {
    "Project": {
      "Type": "{{ .ResourceTypeName }}",
      "Properties": {
        "Name": "{{ .Name }}",
        "OrgId": "{{ .OrgID }}",
        "Profile": "{{ .Profile }}",
        "ProjectSettings": {
          "IsCollectDatabaseSpecificsStatisticsEnabled": "false",
          "IsDataExplorerEnabled": "false",
          "IsPerformanceAdvisorEnabled": "false",
          "IsRealtimePerformancePanelEnabled": "false",
          "IsSchemaAdvisorEnabled": "false"
        },
        "ProjectTeams": [
          {
            "TeamId": "{{ .TeamID }}",
            "RoleNames": [
              "GROUP_OWNER"
            ]
          }
        ],
        "Tags": {{ marshal .Tags }}
      }
    }
  },
  "Outputs": {
    "ProjectId": {
      "Value": {
        "Fn::GetAtt": [
          "Project",
          "Id"
        ]
      }
    },
    "ClusterCount": {
      "Value": {
        "Fn::GetAtt": [
          "Project",
          "ClusterCount"
        ]
      }
    }
  }
}
