{
  "openapi": "3.0.1",
  "info": {
    "contact": {
      "name": "MongoDB Cloud Support",
      "url": "https://www.mongodb.com/support/get-started"
    },
    "description": "The MongoDB Atlas Administration API allows developers to manage all components in MongoDB Atlas.\nTo learn more, review the [Administration API overview](https://www.mongodb.com/docs/atlas/api/atlas-admin-api/).\nThis OpenAPI specification covers all of the collections with the exception of Alerts, Alert Configurations, and Events. Refer to the [legacy documentation](https://www.mongodb.com/docs/atlas/reference/api-resources/) for the specifications of these resources.\n\n# Authentication\n\n<!-- ReDoc-Inject: <security-definitions> -->",
    "license": {
      "name": "SSPL",
      "url": "https://www.mongodb.com/licensing/server-side-public-license"
    },
    "termsOfService": "https://www.mongodb.com/mongodb-management-service-terms-and-conditions",
    "title": "MongoDB Atlas Administration API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://cloud.mongodb.com"
    }
  ],
  "tags": [
    {
      "description": "Returns access logs for authentication attempts made to MongoDB Cloud database deployments.",
      "name": "Access Tracking"
    },
    {
      "description": "Returns and edits the conditions that trigger alerts and how MongoDB Cloud notifies users. This collection remains under revision and may change. Refer to the legacy documentation for this collection in the following link.",
      "externalDocs": {
        "description": "Alert Configurations API Legacy Documentation",
        "url": "https://www.mongodb.com/docs/atlas/reference/api/alert-configurations/"
      },
      "name": "Alert Configurations"
    },
    {
      "description": "Returns and acknowledges alerts that MongoDB Cloud triggers based on the alert conditions that you define. This collection remains under revision and may change. Refer to the legacy documentation for this collection in the following link.",
      "externalDocs": {
        "description": "Alerts API Legacy Documentation",
        "url": "https://www.mongodb.com/docs/atlas/reference/api/alerts/"
      },
      "name": "Alerts"
    },
    {
      "description": "Returns, adds, edits, and removes Atlas Search indexes. Also returns and updates user-defined analyzers.",
      "name": "Atlas Search"
    },
    {
      "description": "Returns and edits database auditing settings for MongoDB Cloud projects.",
      "name": "Auditing"
    },
    {
      "description": "Returns, takes, and removes Cloud Backup snapshots.",
      "name": "Cloud Backups"
    },
    {
      "description": "Returns, adds, and removes Cloud Backup snapshot export buckets. Also returns and adds Cloud Backup export jobs.",
      "name": "Cloud Backup Export"
    },
    {
      "description": "Returns, starts, and cancels Cloud Backup restore jobs.",
      "name": "Cloud Backup Restore Jobs"
    },
    {
      "description": "Returns, edits, and removes Cloud Backup schedules.",
      "name": "Cloud Backup Schedule"
    },
    {
      "description": "Manages the Cloud Migration Service.",
      "name": "Cloud Migration Service"
    },
    {
      "description": "Returns, adds, authorizes, and removes AWS IAM roles in Atlas.",
      "name": "Cloud Provider Access"
    },
    {
      "description": "Returns, adds, edits, and removes database deployments.",
      "name": "Clusters"
    },
    {
      "description": "Returns and edits custom DNS configurations for Atlas database deployments on AWS.",
      "name": "Custom DNS for Atlas Clusters Deployed to AWS"
    },
    {
      "description": "Returns, adds, edits, and removes custom database user privilege roles.",
      "name": "Custom Database Roles"
    },
    {
      "description": "Returns, adds, edits, and removes database users.",
      "name": "Database Users"
    },
    {
      "description": "Returns, adds, edits, and removes Federated Database Instances.",
      "name": "Data Federation"
    },
    {
      "description": "Returns, adds, and removes all private endpoints for Federated Database Instances and Online Archives in the specified project.",
      "name": "Data Federation Private Networks"
    },
    {
      "description": "Returns and edits the Encryption at Rest using Customer Key Management configuration.",
      "name": "Encryption at Rest using Customer Key Management"
    },
    {
      "description": "Returns events. This collection remains under revision and may change. Refer to the legacy documentation for this collection in the following link.",
      "externalDocs": {
        "description": "Events API Legacy Documentation",
        "url": "https://www.mongodb.com/docs/atlas/reference/api/events/"
      },
      "name": "Events"
    },
    {
      "description": "Returns, adds, edits, and removes federation-related features such as role mappings and connected organization configurations.",
      "name": "Federated Authentication"
    },
    {
      "description": "Returns, adds, and removes Global Cluster managed namespaces and custom zone mappings.",
      "name": "Global Clusters"
    },
    {
      "description": "Returns invoices.",
      "name": "Invoices"
    },
    {
      "description": "Returns, edits, verifies, and removes LDAP configurations.",
      "name": "LDAP Configuration"
    },
    {
      "description": "Returns, removes, and edits the expiration date of Legacy Backup snapshots.",
      "name": "Legacy Backup Snapshots"
    },
    {
      "description": "Returns and adds restore jobs for database deployments that use Legacy Backups.",
      "name": "Legacy Backup Restore Jobs"
    },
    {
      "description": "Returns Legacy Backup Checkpoint metadata. Checkpoints serve as additional restore points for sharded clusters at points in time between regular snapshots.",
      "name": "Legacy Backup Checkpoints"
    },
    {
      "description": "Returns and edits Legacy Backup snapshot schedules.",
      "name": "Legacy Backup Snapshot Schedule"
    },
    {
      "description": "Returns, edits, and removes maintenance windows.",
      "name": "Maintenance Windows"
    },
    {
      "description": "Returns, adds, and edits MongoDB Cloud users.",
      "name": "MongoDB Cloud Users"
    },
    {
      "description": "Returns database deployment monitoring and logging data.",
      "name": "Monitoring and Logs"
    },
    {
      "description": "Returns, adds, edits, or removes multi-cloud clusters.",
      "name": "Multi-Cloud Clusters"
    },
    {
      "description": "Returns, adds, edits, and removes network peering containers and peering connections.",
      "name": "Network Peering"
    },
    {
      "description": "Returns, adds, edits, and removes network peering connections.",
      "name": "Network Peering Connections"
    },
    {
      "description": "Returns, adds, edits, and removes network peering containers.",
      "name": "Network Peering Containers"
    },
    {
      "description": "Returns, adds, edits, or removes an online archive.",
      "name": "Online Archive"
    },
    {
      "description": "Returns, adds, and edits organizational units in MongoDB Cloud.",
      "name": "Organizations"
    },
    {
      "description": "Returns suggested indexes and slow query data for a database deployment. Also enables or disables MongoDB Cloud-managed slow operation thresholds.",
      "name": "Performance Advisor"
    },
    {
      "description": "Returns, adds, edits, and removes private endpoint services.",
      "name": "Private Endpoint Services"
    },
    {
      "description": "Returns, adds, edits, and removes access tokens to use the MongoDB Cloud API. MongoDB Cloud applies these keys to organizations. These resources can return, assign, or revoke use of these keys within a specified project.",
      "name": "Programmatic API Keys"
    },
    {
      "description": "Returns, adds, edits, and removes network access limits to database deployments in MongoDB Cloud.",
      "name": "Project IP Access List"
    },
    {
      "description": "Returns, adds, and edits collections of clusters and users in MongoDB Cloud.",
      "name": "Projects"
    },
    {
      "description": "Creates one index to a database deployment in a rolling manner.",
      "name": "Rolling Index"
    },
    {
      "description": "Returns details that describe the MongoDB Cloud build and the access token that requests this resource. This starts the MongoDB Cloud API.",
      "name": "Root"
    },
    {
      "description": "Returns, adds, edits, and removes serverless instances.",
      "name": "Serverless Instances"
    },
    {
      "description": "Returns, adds, edits, and removes private endpoints for serverless instances. To learn more, see the Atlas Administration API tab on the following tutorial.",
      "externalDocs": {
        "description": "Set Up a Private Endpoint for a Serverless Instance Tutorial",
        "url": "https://dochub.mongodb.org/core/serverless-private-endpoint"
      },
      "name": "Serverless Private Endpoints"
    },
    {
      "description": "Returns and adds restore jobs for shared-tier database deployments.",
      "name": "Shared-Tier Restore Jobs"
    },
    {
      "description": "Returns and requests to download shared-tier database deployment snapshots.",
      "name": "Shared-Tier Snapshots"
    },
    {
      "description": "Returns, adds, edits, or removes teams.",
      "name": "Teams"
    },
    {
      "description": "Returns, adds, edits, and removes third-party service integration configurations. MongoDB Cloud sends alerts to each third-party service that you configure.",
      "name": "Third-Party Service Integrations"
    },
    {
      "description": "Returns, edits, and removes user-managed X.509 configurations. Also returns and generates MongoDB Cloud-managed X.509 certificates for database users. The following resources help manage database users who authenticate using X.509 certificates. You can manage these X.509 certificates or let MongoDB Cloud do it for you. If MongoDB Cloud manages your certificates, it also manages your Certificate Authority and can generate certificates for your database users. No additional X.509 configuration is required. If you manage your certificates, you must provide a Certificate Authority and generate certificates for your database users.",
      "externalDocs": {
        "description": "Self-Managed X.509 Certificates",
        "url": "https://www.mongodb.com/docs/atlas/security-self-managed-x509/"
      },
      "name": "X.509 Authentication for Database Users"
    }
  ],
  "paths": {
    "/api/atlas/v1.0/groups": {
      "get": {
        "description": "Returns details about all projects. Projects group clusters into logical collections that support an application environment, workload, or both. Each project can have its own users, teams, security, and alert settings. To use this resource, the requesting API Key must have the Read Write role. This resource doesn't require the API Key to have an Access List.",
        "operationId": "returnAllProjects",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/includeCount"
          },
          {
            "$ref": "#/components/parameters/itemsPerPage"
          },
          {
            "$ref": "#/components/parameters/pageNum"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedAtlasGroupView"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Return All Projects",
        "tags": [
          "Projects"
        ]
      },
      "post": {
        "description": "Creates one project. Projects group clusters into logical collections that support an application environment, workload, or both. Each project can have its own users, teams, security, and alert settings. To use this resource, the requesting API Key must have the Read Write role. This resource doesn't require the API Key to have an Access List.",
        "operationId": "createOneProject",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "description": "Unique 24-hexadecimal digit string that identifies the MongoDB Cloud user to whom to grant the Project Owner role on the specified project. If you set this parameter, it overrides the default value of the oldest Organization Owner. ",
            "in": "query",
            "name": "projectOwnerId",
            "schema": {
              "type": "string",
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^([a-f0-9]{24})$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiAtlasGroupView"
              }
            }
          },
          "description": "Creates one project.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAtlasGroupView"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Create One Project",
        "tags": [
          "Projects"
        ]
      }
    },
    "/api/atlas/v1.0/groups/byName/{groupName}": {
      "get": {
        "description": "Returns details about the specified project. Projects group clusters into logical collections that support an application environment, workload, or both. Each project can have its own users, teams, security, and alert settings. To use this resource, the requesting API Key must have the Project Read Only role. This resource doesn't require the API Key to have an Access List.",
        "operationId": "returnOneProjectUsingItsName",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "description": "Human-readable label that identifies this project. ",
            "in": "path",
            "name": "groupName",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64,
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAtlasGroupView"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Return One Project using Its Name",
        "tags": [
          "Projects"
        ]
      }
    },
    "/api/atlas/v1.0/groups/{groupId}": {
      "delete": {
        "description": "Removes the specified project. Projects group clusters into logical collections that support an application environment, workload, or both. Each project can have its own users, teams, security, and alert settings. To use this resource, the requesting API Key must have the Project Owner role. This resource doesn't require the API Key to have an Access List.",
        "operationId": "removeOneProject",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/noBody"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Remove One Project",
        "tags": [
          "Projects"
        ]
      },
      "get": {
        "description": "Returns details about the specified project. Projects group clusters into logical collections that support an application environment, workload, or both. Each project can have its own users, teams, security, and alert settings. To use this resource, the requesting API Key must have the Project Read Only role. This resource doesn't require the API Key to have an Access List.",
        "operationId": "returnOneProject",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAtlasGroupView"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Return One Project",
        "tags": [
          "Projects"
        ]
      }
    },
    "/api/atlas/v1.0/groups/{groupId}/accessList": {
      "get": {
        "description": "Returns all access list entries from the specified project's IP access list. Each entry in the project's IP access list contains either one IP address or one CIDR-notated block of IP addresses. MongoDB Cloud only allows client connections to the cluster from entries in the project's IP access list. To use this resource, the requesting API Key must have the Project Read Only or Project Charts Admin roles. This resource doesn't require the API Key to have an Access List.",
        "externalDocs": {
          "description": "IP access list",
          "url": "https://docs.atlas.mongodb.com/security/ip-access-list/#std-label-access-list"
        },
        "operationId": "returnProjectIpAccessList",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/includeCount"
          },
          {
            "$ref": "#/components/parameters/itemsPerPage"
          },
          {
            "$ref": "#/components/parameters/pageNum"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedNetworkAccessView"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Return Project IP Access List",
        "tags": [
          "Project IP Access List"
        ]
      },
      "post": {
        "description": "Adds one or more access list entries to the specified project. MongoDB Cloud only allows client connections to the cluster from entries in the project's IP access list. Write each entry as either one IP address or one CIDR-notated block of IP addresses. To use this resource, the requesting API Key must have the Project Atlas Admin or Project Charts Admin roles. This resource doesn't require the API Key to have an Access List.",
        "externalDocs": {
          "description": "IP access list",
          "url": "https://docs.atlas.mongodb.com/security/ip-access-list/#std-label-access-list"
        },
        "operationId": "addEntriesToProjectIpAccessList",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/includeCount"
          },
          {
            "$ref": "#/components/parameters/itemsPerPage"
          },
          {
            "$ref": "#/components/parameters/pageNum"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ApiAtlasNetworkPermissionEntryView"
                }
              }
            }
          },
          "description": "One or more access list entries to add to the specified project.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedNetworkAccessView"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Add Entries to Project IP Access List",
        "tags": [
          "Project IP Access List"
        ]
      }
    },
    "/api/atlas/v1.0/groups/{groupId}/accessList/{entryValue}": {
      "delete": {
        "description": "Removes one access list entry from the specified project's IP access list. Each entry in the project's IP access list contains one IP address, one CIDR-notated block of IP addresses, or one AWS Security Group ID. MongoDB Cloud only allows client connections to the cluster from entries in the project's IP access list. To use this resource, the requesting API Key must have the Project Atlas Admin role. This resource doesn't require the API Key to have an Access List.",
        "externalDocs": {
          "description": "IP access list",
          "url": "https://docs.atlas.mongodb.com/security/ip-access-list/#std-label-access-list"
        },
        "operationId": "removeOneEntryFromOneProjectIpAccessList",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "description": "Access list entry that you want to remove from the project's IP access list. This value can use one of the following: one AWS security group ID, one IP address, or one CIDR block of addresses. For CIDR blocks that use a subnet mask, replace the forward slash (`/`) with its URL-encoded value (`%2F`). When you remove an entry from the IP access list, existing connections from the removed address or addresses may remain open for a variable amount of time. The amount of time it takes MongoDB Cloud to close the connection depends upon several factors, including:\n\n- how your application established the connection,\n- how MongoDB Cloud or the driver using the address behaves, and\n- which protocol (like TCP or UDP) the connection uses.",
            "in": "path",
            "name": "entryValue",
            "required": true,
            "schema": {
              "type": "string",
              "example": "IPv4: 192.0.2.0%2F24 or IPv6: 2001:db8:85a3:8d3:1319:8a2e:370:7348 or IPv4 CIDR: 198.51.100.0%2f24 or IPv6 CIDR: 2001:db8::%2f58 or AWS SG: sg-903004f8",
              "pattern": "^([0-9]{1,3}\\.){3}[0-9]{1,3}(%2[fF][0-9]{1,3})?|([0-9a-f]{1,4}\\:){7}[0-9a-f]{1,4}(%2[fF][0-9]{1,3})?|([0-9a-f]{1,4}\\:){1,6}\\:(%2[fF][0-9]{1,3})|(sg\\-[a-f0-9]{8})?$"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/noBody"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Remove One Entry from One Project IP Access List",
        "tags": [
          "Project IP Access List"
        ]
      },
      "get": {
        "description": "Returns one access list entry from the specified project's IP access list. The project's IP access list entry contains either one IP address or one CIDR-notated block of IP addresses. To use this resource, the requesting API Key must have the Project Read Only role. This resource doesn't require the API Key to have an Access List.",
        "externalDocs": {
          "description": "IP access list",
          "url": "https://docs.atlas.mongodb.com/security/ip-access-list/#std-label-access-list"
        },
        "operationId": "returnOneProjectIpAccessListEntry",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "description": "Access list entry that you want to return from the project's IP access list. This value can use one of the following: one AWS security group ID, one IP address, or one CIDR block of addresses. For CIDR blocks that use a subnet mask, replace the forward slash (`/`) with its URL-encoded value (`%2F`).",
            "in": "path",
            "name": "entryValue",
            "required": true,
            "schema": {
              "type": "string",
              "example": "IPv4: 192.0.2.0%2F24 or IPv6: 2001:db8:85a3:8d3:1319:8a2e:370:7348 or IPv4 CIDR: 198.51.100.0%2f24 or IPv6 CIDR: 2001:db8::%2f58 or AWS SG: sg-903004f8",
              "pattern": "^([0-9]{1,3}\\.){3}[0-9]{1,3}(%2[fF][0-9]{1,3})?|([0-9a-f]{1,4}\\:){7}[0-9a-f]{1,4}(%2[fF][0-9]{1,3})?|([0-9a-f]{1,4}\\:){1,6}\\:(%2[fF][0-9]{1,3})|(sg\\-[a-f0-9]{8})?$"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAtlasNetworkPermissionEntryView"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Return One Project IP Access List Entry",
        "tags": [
          "Project IP Access List"
        ]
      }
    },
    "/api/atlas/v1.0/groups/{groupId}/accessList/{entryValue}/status": {
      "get": {
        "description": "Returns the status of one project IP access list entry. This resource checks if the provided project IP access list entry applies to all cloud providers serving clusters from the specified project.",
        "operationId": "getAtlasNetworkPermissionEntryStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "description": "Network address or cloud provider security construct that identifies which project access list entry to be verified.",
            "in": "path",
            "name": "entryValue",
            "required": true,
            "schema": {
              "type": "string",
              "example": "IPv4: 192.0.2.0%2F24 or IPv6: 2001:db8:85a3:8d3:1319:8a2e:370:7348 or IPv4 CIDR: 198.51.100.0%2f24 or IPv6 CIDR: 2001:db8::%2f58 or AWS SG: sg-903004f8",
              "pattern": "^([0-9]{1,3}\\.){3}[0-9]{1,3}(%2[fF][0-9]{1,3})?|([0-9a-f]{1,4}\\:){7}[0-9a-f]{1,4}(%2[fF][0-9]{1,3})?|([0-9a-f]{1,4}\\:){1,6}\\:(%2[fF][0-9]{1,3})|(sg\\-[a-f0-9]{8})?$"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAtlasNetworkPermissionEntryStatusView"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Return Status of One Project IP Access List Entry",
        "tags": [
          "Project IP Access List"
        ]
      }
    },
    "/api/atlas/v1.0/groups/{groupId}/auditLog": {
      "get": {
        "description": "Returns the auditing configuration for the specified project. The auditing configuration defines the events that MongoDB Cloud records in the audit log. To use this resource, the requesting API Key must have the Project Atlas Admin role. This resource doesn't require the API Key to have an Access List.",
        "operationId": "returnOneAuditingConfigurationForOneProject",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAtlasAuditLogView"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Return the Auditing Configuration for One Project",
        "tags": [
          "Auditing"
        ]
      },
      "patch": {
        "description": "Updates the auditing configuration for the specified project. The auditing configuration defines the events that MongoDB Cloud records in the audit log. To use this resource, the requesting API Key must have the Project Atlas Admin role. This resource doesn't require the API Key to have an Access List.",
        "operationId": "updateAuditingConfigurationForOneProject",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiAtlasAuditLogView"
              }
            }
          },
          "description": "Updated auditing configuration for the specified project.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAtlasAuditLogView"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Update Auditing Configuration for One Project",
        "tags": [
          "Auditing"
        ]
      }
    },
    "/api/atlas/v1.0/groups/{groupId}/awsCustomDNS": {
      "get": {
        "description": "Returns the custom DNS configuration for AWS clusters in the specified project. To use this resource, the requesting API Key must have the Project Read Only role. This resource doesn't require the API Key to have an Access List.",
        "operationId": "returnOneCustomDnsConfigurationForAtlasClustersOnAws",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AWSCustomDNSEnabledView"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Return One Custom DNS Configuration for Atlas Clusters on AWS",
        "tags": [
          "Custom DNS for Atlas Clusters Deployed to AWS"
        ]
      },
      "patch": {
        "description": "Enables or disables the custom DNS configuration for AWS clusters in the specified project. Enable custom DNS if you use AWS VPC peering and use your own DNS servers. To use this resource, the requesting API Key must have the Project Atlas Admin role. This resource doesn't require the API Key to have an Access List.",
        "operationId": "toggleOneStateOfOneCustomDnsConfigurationForAtlasClustersOnAws",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AWSCustomDNSEnabledView"
              }
            }
          },
          "description": "Enables or disables the custom DNS configuration for AWS clusters in the specified project.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AWSCustomDNSEnabledView"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Toggle State of One Custom DNS Configuration for Atlas Clusters on AWS",
        "tags": [
          "Custom DNS for Atlas Clusters Deployed to AWS"
        ]
      }
    },
    "/api/atlas/v1.0/groups/{groupId}/backup/exportBuckets": {
      "get": {
        "description": "Returns all AWS S3 buckets associated with the specified project. To use this resource, the requesting API Key must have the Project Read Only role. This resource doesn't require the API Key to have an Access List.",
        "operationId": "returnAllAwsS3BucketsUsedForCloudBackupSnapshotExports",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedBackupSnapshotExportBucketView"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Return All AWS S3 Buckets Used for Cloud Backup Snapshot Exports",
        "tags": [
          "Cloud Backup Export"
        ]
      },
      "post": {
        "description": "Grants MongoDB Cloud access to the specified AWS S3 bucket. This enables this bucket to receive Atlas Cloud Backup snapshots. To use this resource, the requesting API Key must have the Project Atlas Admin role. This resource doesn't require the API Key to have an Access List.",
        "operationId": "grantAccessToAwsS3BucketForCloudBackupSnapshotExports",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiAtlasDiskBackupSnapshotAWSExportBucketView"
              }
            }
          },
          "description": "Grants MongoDB Cloud access to the specified AWS S3 bucket.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAtlasDiskBackupSnapshotAWSExportBucketView"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Grant Access to AWS S3 Bucket for Cloud Backup Snapshot Exports",
        "tags": [
          "Cloud Backup Export"
        ]
      }
    },
    "/api/atlas/v1.0/groups/{groupId}/backup/exportBuckets/{exportBucketId}": {
      "delete": {
        "description": "Revoke MongoDB Cloud access to the specified AWS S3 bucket. This prevents this bucket to receive Atlas Cloud Backup snapshots. To use this resource, the requesting API Key must have the Project Atlas Admin role. This resource doesn't require the API Key to have an Access List.",
        "operationId": "revokeAccessToAwsS3BucketForCloudBackupSnapshotExports",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "description": "Unique string that identifies the AWS S3 bucket to which you export your snapshots.",
            "in": "path",
            "name": "exportBucketId",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 63,
              "minLength": 3,
              "pattern": "^((?!xn--)(?!.*-s3alias)[a-z0-9][a-z0-9-]{1,61}[a-z0-9])$"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/noBody"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Revoke Access to AWS S3 Bucket for Cloud Backup Snapshot Exports",
        "tags": [
          "Cloud Backup Export"
        ]
      },
      "get": {
        "description": "Returns one AWS S3 bucket associated with the specified project. To use this resource, the requesting API Key must have the Project Read Only role. This resource doesn't require the API Key to have an Access List.",
        "operationId": "returnOneAwsS3BucketUsedForCloudBackupSnapshotExports",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "description": "Unique string that identifies the AWS S3 bucket to which you export your snapshots.",
            "in": "path",
            "name": "exportBucketId",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 63,
              "minLength": 3,
              "pattern": "^((?!xn--)(?!.*-s3alias)[a-z0-9][a-z0-9-]{1,61}[a-z0-9])$"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAtlasDiskBackupSnapshotAWSExportBucketView"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Return One AWS S3 Bucket Used for Cloud Backup Snapshot Exports",
        "tags": [
          "Cloud Backup Export"
        ]
      }
    },
    "/api/atlas/v1.0/groups/{groupId}/cloudProviderAccess": {
      "get": {
        "description": "Returns all Amazon Web Services (AWS) Identity and Access Management (IAM) roles with access to the specified project. To use this resource, the requesting API Key must have the Project Atlas Admin role. This resource doesn't require the API Key to have an Access List.",
        "operationId": "returnAllCloudProviderAccessRoles",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAtlasCloudProviderAccessView"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Return All Cloud Provider Access Roles",
        "tags": [
          "Cloud Provider Access"
        ]
      },
      "post": {
        "description": "Creates one Amazon Web Services (AWS) Identity and Access Management (IAM) role. Some MongoDB Cloud features use AWS IAM roles for authentication. To use this resource, the requesting API Key must have the Project Atlas Admin role. This resource doesn't require the API Key to have an Access List.\n\nAfter a successful request to this API endpoint, you can add the **atlasAWSAccountArn** and **atlasAssumedRoleExternalId** values to the trust policy in your AWS console to create an IAM Assumed Amazon Resource Name (ARN).",
        "externalDocs": {
          "description": "Set Up Unified AWS Access",
          "url": "https://www.mongodb.com/docs/atlas/security/set-up-unified-aws-access/#std-label-set-up-unified-aws-access"
        },
        "operationId": "createOneCloudProviderAccessRole",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AWS"
              }
            }
          },
          "description": "Creates one AWS IAM role.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AWS"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Create One Cloud Provider Access Role",
        "tags": [
          "Cloud Provider Access"
        ]
      }
    },
    "/api/atlas/v1.0/groups/{groupId}/cloudProviderAccess/{cloudProvider}/{roleId}": {
      "delete": {
        "description": "Revokes access to the specified project for the specified AWS IAM role. To use this resource,the requesting API Key must have the Project Atlas Admin role. This resource doesn't require the API Key to have an Access List.",
        "operationId": "deauthorizeOneCloudProviderAccessRole",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "description": "Human-readable label that identifies the cloud provider of the role to deauthorize.",
            "in": "path",
            "name": "cloudProvider",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "AWS"
              ]
            }
          },
          {
            "description": "Unique 24-hexadecimal digit string that identifies the role.",
            "in": "path",
            "name": "roleId",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^([a-f0-9]{24})$"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Deauthorize One Cloud Provider Access Role",
        "tags": [
          "Cloud Provider Access"
        ]
      }
    },
    "/api/atlas/v1.0/groups/{groupId}/cloudProviderAccess/{roleId}": {
      "patch": {
        "description": "Grants access to the specified project for the specified Amazon Web Services (AWS) Identity and Access Management (IAM) role. To use this resource, the requesting API Key must have the Project Atlas Admin role. This resource doesn't require the API Key to have an Access List.",
        "externalDocs": {
          "description": "Set Up Unified AWS Access",
          "url": "https://www.mongodb.com/docs/atlas/security/set-up-unified-aws-access/#std-label-set-up-unified-aws-access"
        },
        "operationId": "authorizeOneCloudProviderAccessRole",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "description": "Unique 24-hexadecimal digit string that identifies the role.",
            "in": "path",
            "name": "roleId",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^([a-f0-9]{24})$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AWS"
              }
            }
          },
          "description": "Grants access to the specified project for the specified AWS IAM role.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AWS"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Authorize One Cloud Provider Access Role",
        "tags": [
          "Cloud Provider Access"
        ]
      }
    },
    "/api/atlas/v1.0/groups/{groupId}/clusters": {
      "get": {
        "description": "Returns the details for all clusters in the specific project to which you have access. Clusters contain a group of hosts that maintain the same data set. The response does not include multi-cloud clusters. To return multi-cloud clusters, use Get All Advanced Clusters. To use this resource, the requesting API Key must have the Project Read Only role. This resource doesn't require the API Key to have an Access List.",
        "operationId": "returnAllClusters",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/includeCount"
          },
          {
            "$ref": "#/components/parameters/itemsPerPage"
          },
          {
            "$ref": "#/components/parameters/pageNum"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedLegacyClusterView"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Return All Clusters in One Project",
        "tags": [
          "Clusters"
        ]
      },
      "post": {
        "description": "Creates one cluster in the specific project. Clusters contain a group of hosts that maintain the same data set. This resource does not create multi-cloud clusters. To create a multi-cloud cluster, use Create One Advanced Cluster. To use this resource, the requesting API Key must have the Project Atlas Admin role. This resource doesn't require the API Key to have an Access List.",
        "operationId": "createOneCluster",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiAtlasLegacyClusterDescriptionView"
              }
            }
          },
          "description": "Details to create for one cluster in the specified project.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAtlasLegacyClusterDescriptionView"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/paymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          }
        },
        "summary": "Create One Cluster",
        "tags": [
          "Clusters"
        ]
      }
    },
    "/api/atlas/v1.0/groups/{groupId}/clusters/provider/regions": {
      "get": {
        "description": "Returns the list of regions available for the specified cloud provider at the specified tier. To use this resource, the requesting API Key must have the Project Read Only role. This resource doesn't require the API Key to have an Access List.",
        "operationId": "returnAllCloudProviderRegions",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/includeCount"
          },
          {
            "$ref": "#/components/parameters/itemsPerPage"
          },
          {
            "$ref": "#/components/parameters/pageNum"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "description": "Cloud providers whose regions to retrieve. When you specify multiple providers, the response can return only tiers and regions that support multi-cloud clusters.",
            "in": "query",
            "name": "providers",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Cluster tier for which to retrieve the regions.",
            "in": "query",
            "name": "tier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiAtlasProviderRegionsView"
                  }
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Return All Cloud Provider Regions",
        "tags": [
          "Clusters"
        ]
      }
    },
    "/api/atlas/v1.0/groups/{groupId}/clusters/tenantUpgrade": {
      "post": {
        "description": "Upgrade a shared-tier cluster in the specified project. To use this resource, the requesting API key must have the Project Cluster Manager role. This resource doesn't require the API key to have an Access List.",
        "operationId": "upgradeOneTenantCluster",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiAtlasLegacyClusterDescriptionView"
              }
            }
          },
          "description": "Details of the tenant upgrade in the specified project.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAtlasLegacyClusterDescriptionView"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/paymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Upgrade One Shared-tier Cluster",
        "tags": [
          "Clusters"
        ]
      }
    },
    "/api/atlas/v1.0/groups/{groupId}/clusters/{clusterName}/backup/exports": {
      "get": {
        "description": "Returns all Cloud Backup snapshot export jobs associated with the specified Atlas cluster. To use this resource, the requesting API Key must have the Project Atlas Admin role. This resource doesn't require the API Key to have an Access List.",
        "operationId": "returnAllCloudBackupSnapshotExportJobs",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "$ref": "#/components/parameters/includeCount"
          },
          {
            "$ref": "#/components/parameters/itemsPerPage"
          },
          {
            "$ref": "#/components/parameters/pageNum"
          },
          {
            "description": "Human-readable label that identifies the cluster.",
            "in": "path",
            "name": "clusterName",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^([a-zA-Z0-9]([a-zA-Z0-9-]){0,21}(?<!-)([\\w]{0,42}))$"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiAtlasDiskBackupExportJobView"
                  }
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Return All Cloud Backup Snapshot Export Jobs",
        "tags": [
          "Cloud Backup Export"
        ]
      },
      "post": {
        "description": "Exports one backup snapshot for dedicated Atlas cluster using Cloud Backups to an AWS bucket. To use this resource, the requesting API Key must have the Project Atlas Admin role. This resource doesn't require the API Key to have an Access List.",
        "operationId": "createOneCloudBackupSnapshotExportJob",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "description": "Human-readable label that identifies the cluster.",
            "in": "path",
            "name": "clusterName",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^([a-zA-Z0-9]([a-zA-Z0-9-]){0,21}(?<!-)([\\w]{0,42}))$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiAtlasDiskBackupExportJobRequestView"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAtlasDiskBackupExportJobView"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Create One Cloud Backup Snapshot Export Job",
        "tags": [
          "Cloud Backup Export"
        ]
      }
    },
    "/api/atlas/v1.0/groups/{groupId}/clusters/{clusterName}/backup/exports/{exportId}": {
      "get": {
        "description": "Returns one Cloud Backup snapshot export job associated with the specified Atlas cluster. To use this resource, the requesting API Key must have the Project Atlas Admin role. This resource doesn't require the API Key to have an Access List.",
        "operationId": "returnOneCloudBackupSnapshotExportJob",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "description": "Human-readable label that identifies the cluster.",
            "in": "path",
            "name": "clusterName",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^([a-zA-Z0-9]([a-zA-Z0-9-]){0,21}(?<!-)([\\w]{0,42}))$"
            }
          },
          {
            "description": "Unique string that identifies the AWS S3 bucket to which you export your snapshots.",
            "in": "path",
            "name": "exportId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAtlasDiskBackupExportJobView"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Return One Cloud Backup Snapshot Export Job",
        "tags": [
          "Cloud Backup Export"
        ]
      }
    },
    "/api/atlas/v1.0/groups/{groupId}/clusters/{clusterName}/backup/restoreJobs": {
      "get": {
        "deprecated": true,
        "description": "Returns all cloud backup restore jobs for one cluster from the specified project. To use this resource, the requesting API Key must have the Project Atlas Admin role and an entry for the project access list.",
        "operationId": "returnAllRestoreJobsForOneCluster",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/includeCount"
          },
          {
            "$ref": "#/components/parameters/itemsPerPage"
          },
          {
            "$ref": "#/components/parameters/pageNum"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "description": "Human-readable label that identifies the cluster with the restore jobs you want to return.",
            "in": "path",
            "name": "clusterName",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^([a-zA-Z0-9]([a-zA-Z0-9-]){0,21}(?<!-)([\\w]{0,42}))$"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedCloudBackupRestoreJobView"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Return All Restore Jobs for One Cluster",
        "tags": [
          "Cloud Backup Restore Jobs"
        ]
      },
      "post": {
        "deprecated": true,
        "description": "Restores one snapshot of one cluster from the specified project. To use this resource, the requesting API Key must have the Project Atlas Admin role and an entry for the project access list.",
        "operationId": "restoreOneSnapshotOfOneCluster",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "description": "Human-readable label that identifies the cluster.",
            "in": "path",
            "name": "clusterName",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^([a-zA-Z0-9]([a-zA-Z0-9-]){0,21}(?<!-)([\\w]{0,42}))$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiAtlasDiskBackupRestoreJobView"
              }
            }
          },
          "description": "Restores one snapshot of one cluster from the specified project.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAtlasDiskBackupRestoreJobView"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Restore One Snapshot of One Cluster",
        "tags": [
          "Cloud Backup Restore Jobs"
        ]
      }
    },
    "/api/atlas/v1.0/groups/{groupId}/clusters/{clusterName}/backup/restoreJobs/{restoreJobId}": {
      "delete": {
        "deprecated": true,
        "description": "Cancels one cloud backup restore job of one cluster from the specified project. To use this resource, the requesting API Key must have the Project Atlas Admin role and an entry for the project access list.",
        "operationId": "cancelOneRestoreJobOfOneCluster",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "description": "Human-readable label that identifies the cluster.",
            "in": "path",
            "name": "clusterName",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^([a-zA-Z0-9]([a-zA-Z0-9-]){0,21}(?<!-)([\\w]{0,42}))$"
            }
          },
          {
            "description": "Unique 24-hexadecimal digit string that identifies the restore job to remove.",
            "in": "path",
            "name": "restoreJobId",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^([a-f0-9]{24})$"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/noBody"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "405": {
            "$ref": "#/components/responses/methodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Cancel One Restore Job of One Cluster",
        "tags": [
          "Cloud Backup Restore Jobs"
        ]
      },
      "get": {
        "deprecated": true,
        "description": "Returns one cloud backup restore job for one cluster from the specified project. To use this resource, the requesting API Key must have the Project Atlas Admin role and an entry for the project access list.",
        "operationId": "returnOneRestoreJobOfOneCluster",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "description": "Human-readable label that identifies the cluster with the restore jobs you want to return.",
            "in": "path",
            "name": "clusterName",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^([a-zA-Z0-9]([a-zA-Z0-9-]){0,21}(?<!-)([\\w]{0,42}))$"
            }
          },
          {
            "description": "Unique 24-hexadecimal digit string that identifies the restore job to return.",
            "in": "path",
            "name": "restoreJobId",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^([a-f0-9]{24})$"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAtlasDiskBackupRestoreJobView"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Return One Restore Job of One Cluster",
        "tags": [
          "Cloud Backup Restore Jobs"
        ]
      }
    },
    "/api/atlas/v1.0/groups/{groupId}/clusters/{clusterName}/backup/schedule": {
      "delete": {
        "deprecated": true,
        "description": "Removes all cloud backup schedules for the specified cluster. This schedule defines when MongoDB Cloud takes scheduled snapshots and how long it stores those snapshots. To use this resource, the requesting API Key must have the Project Atlas Admin role and an entry for the project access list.",
        "operationId": "removeAllCloudBackupSchedules",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "description": "Human-readable label that identifies the cluster.",
            "in": "path",
            "name": "clusterName",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^([a-zA-Z0-9]([a-zA-Z0-9-]){0,21}(?<!-)([\\w]{0,42}))$"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAtlasDiskBackupSnapshotScheduleView"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Remove All Cloud Backup Schedules",
        "tags": [
          "Cloud Backup Schedule"
        ]
      },
      "get": {
        "description": "Returns the cloud backup schedule for the specified cluster within the specified project. This schedule defines when MongoDB Cloud takes scheduled snapshots and how long it stores those snapshots. To use this resource, the requesting API Key must have the Project Read Only role. This resource doesn't require the API Key to have an Access List.",
        "operationId": "returnOneCloudBackupSchedule",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "description": "Human-readable label that identifies the cluster.",
            "in": "path",
            "name": "clusterName",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^([a-zA-Z0-9]([a-zA-Z0-9-]){0,21}(?<!-)([\\w]{0,42}))$"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAtlasDiskBackupSnapshotScheduleView"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Return One Cloud Backup Schedule",
        "tags": [
          "Cloud Backup Schedule"
        ]
      },
      "patch": {
        "deprecated": true,
        "description": "Updates the cloud backup schedule for one cluster within the specified project. This schedule defines when MongoDB Cloud takes scheduled snapshots and how long it stores those snapshots. To use this resource, the requesting API Key must have the Project Atlas Admin role and an entry for the project access list.",
        "operationId": "updateCloudBackupBackupPolicyForOneCluster",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "description": "Human-readable label that identifies the cluster.",
            "in": "path",
            "name": "clusterName",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^([a-zA-Z0-9]([a-zA-Z0-9-]){0,21}(?<!-)([\\w]{0,42}))$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiAtlasDiskBackupSnapshotScheduleView"
              }
            }
          },
          "description": "Updates the cloud backup schedule for one cluster within the specified project.\n\n**Note**: In the request body, provide only the fields that you want to update.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAtlasDiskBackupSnapshotScheduleView"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Update Cloud Backup Schedule for One Cluster",
        "tags": [
          "Cloud Backup Schedule"
        ]
      }
    },
    "/api/atlas/v1.0/groups/{groupId}/clusters/{clusterName}/backup/snapshots": {
      "get": {
        "description": "Returns all snapshots of one cluster from the specified project. To use this resource, the requesting API Key must have the Project Read Only role. This resource doesn't require the API Key to have an Access List.",
        "operationId": "returnAllReplicaSetCloudBackups",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/includeCount"
          },
          {
            "$ref": "#/components/parameters/itemsPerPage"
          },
          {
            "$ref": "#/components/parameters/pageNum"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "description": "Human-readable label that identifies the cluster.",
            "in": "path",
            "name": "clusterName",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^([a-zA-Z0-9]([a-zA-Z0-9-]){0,21}(?<!-)([\\w]{0,42}))$"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedCloudBackupReplicaSetView"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Return All Replica Set Cloud Backups",
        "tags": [
          "Cloud Backups"
        ]
      },
      "post": {
        "deprecated": true,
        "description": "Takes one on-demand snapshot for the specified cluster. To use this resource, the requesting API Key must have the Project Atlas Admin role and an entry for the project access list.",
        "operationId": "takeOneOn-DemandSnapshot",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "description": "Human-readable label that identifies the cluster.",
            "in": "path",
            "name": "clusterName",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^([a-zA-Z0-9]([a-zA-Z0-9-]){0,21}(?<!-)([\\w]{0,42}))$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiAtlasDiskBackupOnDemandSnapshotRequestView"
              }
            }
          },
          "description": "Takes one on-demand snapshot.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Database type to be backed up.",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiAtlasDiskBackupReplicaSetView"
                    },
                    {
                      "$ref": "#/components/schemas/ApiAtlasDiskBackupShardedClusterSnapshotView"
                    }
                  ]
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Take One On-Demand Snapshot",
        "tags": [
          "Cloud Backups"
        ]
      }
    },
    "/api/atlas/v1.0/groups/{groupId}/clusters/{clusterName}/backup/snapshots/shardedCluster/{snapshotId}": {
      "delete": {
        "deprecated": true,
        "description": "Removes one snapshot of one sharded cluster from the specified project. To use this resource, the requesting API Key must have the Project Atlas Admin role and an entry for the project access list.",
        "operationId": "removeOneShardedClusterCloudBackup",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "description": "Human-readable label that identifies the cluster.",
            "in": "path",
            "name": "clusterName",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^([a-zA-Z0-9]([a-zA-Z0-9-]){0,21}(?<!-)([\\w]{0,42}))$"
            }
          },
          {
            "description": "Unique 24-hexadecimal digit string that identifies the desired snapshot.",
            "in": "path",
            "name": "snapshotId",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^([a-f0-9]{24})$"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/noBody"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Remove One Sharded Cluster Cloud Backup",
        "tags": [
          "Cloud Backups"
        ]
      },
      "get": {
        "description": "Returns one snapshot of one sharded cluster from the specified project. To use this resource, the requesting API Key must have the Project Read Only role. This resource doesn't require the API Key to have an Access List.",
        "operationId": "returnOneShardedClusterCloudBackup",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "description": "Human-readable label that identifies the cluster.",
            "in": "path",
            "name": "clusterName",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^([a-zA-Z0-9]([a-zA-Z0-9-]){0,21}(?<!-)([\\w]{0,42}))$"
            }
          },
          {
            "description": "Unique 24-hexadecimal digit string that identifies the desired snapshot.",
            "in": "path",
            "name": "snapshotId",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^([a-f0-9]{24})$"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAtlasDiskBackupShardedClusterSnapshotView"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Return One Sharded Cluster Cloud Backup",
        "tags": [
          "Cloud Backups"
        ]
      }
    },
    "/api/atlas/v1.0/groups/{groupId}/clusters/{clusterName}/backup/snapshots/shardedClusters": {
      "get": {
        "description": "Returns all snapshots of one sharded cluster from the specified project. To use this resource, the requesting API Key must have the Project Read Only role. This resource doesn't require the API Key to have an Access List.",
        "operationId": "returnAllShardedClusterCloudBackups",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "description": "Human-readable label that identifies the cluster.",
            "in": "path",
            "name": "clusterName",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^([a-zA-Z0-9]([a-zA-Z0-9-]){0,21}(?<!-)([\\w]{0,42}))$"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedCloudBackupShardedClusterSnapshotView"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Return All Sharded Cluster Cloud Backups",
        "tags": [
          "Cloud Backups"
        ]
      }
    },
    "/api/atlas/v1.0/groups/{groupId}/clusters/{clusterName}/backup/snapshots/{snapshotId}": {
      "delete": {
        "deprecated": true,
        "description": "Removes rhe specified snapshot. To use this resource, the requesting API Key must have the Project Atlas Admin role and an entry for the project access list.",
        "operationId": "removeOneReplicaSetCloudBackup",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "description": "Human-readable label that identifies the cluster.",
            "in": "path",
            "name": "clusterName",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^([a-zA-Z0-9]([a-zA-Z0-9-]){0,21}(?<!-)([\\w]{0,42}))$"
            }
          },
          {
            "description": "Unique 24-hexadecimal digit string that identifies the desired snapshot.",
            "in": "path",
            "name": "snapshotId",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^([a-f0-9]{24})$"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/noBody"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Remove One Replica Set Cloud Backup",
        "tags": [
          "Cloud Backups"
        ]
      },
      "get": {
        "description": "Returns one snapshot from the specified cluster. To use this resource, the requesting API Key must have the Project Read Only role. This resource doesn't require the API Key to have an Access List.",
        "operationId": "returnOneReplicaSetCloudBackup",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "description": "Human-readable label that identifies the cluster.",
            "in": "path",
            "name": "clusterName",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^([a-zA-Z0-9]([a-zA-Z0-9-]){0,21}(?<!-)([\\w]{0,42}))$"
            }
          },
          {
            "description": "Unique 24-hexadecimal digit string that identifies the desired snapshot.",
            "in": "path",
            "name": "snapshotId",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^([a-f0-9]{24})$"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAtlasDiskBackupReplicaSetView"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Return One Replica Set Cloud Backup",
        "tags": [
          "Cloud Backups"
        ]
      }
    },
    "/api/atlas/v1.0/groups/{groupId}/clusters/{clusterName}/backup/tenant/download": {
      "post": {
        "description": "Requests one snapshot for the specified shared cluster. This resource returns a `snapshotURL` that you can use to download the snapshot. This `snapshotURL` remains active for four hours after you make the request. To use this resource, the requesting API Key must have the Project Atlas Admin role. This resource doesn't require the API Key to have an Access List.",
        "operationId": "downloadOneM2OrM5ClusterSnapshot",
        "parameters": [
          {
            "description": "Human-readable label that identifies the cluster.",
            "in": "path",
            "name": "clusterName",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^([a-zA-Z0-9]([a-zA-Z0-9-]){0,21}(?<!-)([\\w]{0,42}))$"
            }
          },
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiAtlasTenantRestoreView"
              }
            }
          },
          "description": "Snapshot to be downloaded.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAtlasTenantRestoreView"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Download One M2 or M5 Cluster Snapshot",
        "tags": [
          "Shared-Tier Snapshots"
        ]
      }
    },
    "/api/atlas/v1.0/groups/{groupId}/clusters/{clusterName}/backup/tenant/restore": {
      "post": {
        "description": "Restores the specified cluster. MongoDB Cloud limits which clusters can be the target clusters of a restore. The target cluster can't use encryption at rest, run a major release MongoDB version different than the snapshot, or receive client requests during restores. MongoDB Cloud deletes all existing data on the target cluster prior to the restore operation. To use this resource, the requesting API Key must have the Atlas Project Admin role. This resource doesn't require the API Key to have an Access List.",
        "operationId": "createOneRestoreJobFromOneM2OrM5Cluster",
        "parameters": [
          {
            "description": "Human-readable label that identifies the cluster.",
            "in": "path",
            "name": "clusterName",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^([a-zA-Z0-9]([a-zA-Z0-9-]){0,21}(?<!-)([\\w]{0,42}))$"
            }
          },
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiAtlasTenantRestoreView"
              }
            }
          },
          "description": "The restore job details.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAtlasTenantRestoreView"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Create One Restore Job from One M2 or M5 Cluster",
        "tags": [
          "Shared-Tier Restore Jobs"
[...]
