name: 'Cleanup test env'

on:
  workflow_dispatch: {} # workflow can be run manually
  schedule:
    - cron: "0 3 * * *" # workflow runs every day at 03:00 AM

jobs:  
  clenup-test-env-general:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29
        with:
          sparse-checkout: |
            scripts
      - uses: mongodb/atlas-github-action@07d212bf80c068dfcfbf6e15b22c61ae6e66d96e
      - name: Cleanup cloud-dev CFN Test GitHub
        shell: bash
        env:
          MONGODB_ATLAS_PUBLIC_KEY: ${{ secrets.CLOUD_DEV_PUBLIC_KEY }}
          MONGODB_ATLAS_PRIVATE_KEY: ${{ secrets.CLOUD_DEV_PRIVATE_KEY }}
          MONGODB_ATLAS_ORG_ID: ${{ secrets.CLOUD_DEV_ORG_ID }}
          MONGODB_ATLAS_OPS_MANAGER_URL: ${{ vars.MONGODB_ATLAS_BASE_URL }}
          PROJECT_TO_NOT_DELETE: ${{ vars.CLOUD_DEV_PROJECT_ID }}
        run: ./scripts/cleanup-test-env.sh      
