name: 'Cleanup test env'

on:
  workflow_dispatch: {} # workflow can be run manually
  schedule:
    - cron: "0 3 * * *" # workflow runs every day at 03:00 AM

jobs:  
  cleanup-dev-cfn-test-github:
    runs-on: ubuntu-latest
    steps:
      - name: terraform-provider-mongodbatlas-checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd
        with:
          repository: mongodb/terraform-provider-mongodbatlas
      - name: Cleanup cloud-dev CFN Test GitHub
        uses: ./.github/templates/clean-atlas-org
        env:
          MONGODB_ATLAS_PUBLIC_KEY: ${{ secrets.CLOUD_DEV_PUBLIC_KEY }}
          MONGODB_ATLAS_PRIVATE_KEY: ${{ secrets.CLOUD_DEV_PRIVATE_KEY }}
          MONGODB_ATLAS_ORG_ID: ${{ secrets.CLOUD_DEV_ORG_ID }}
          MONGODB_ATLAS_BASE_URL: ${{ vars.MONGODB_ATLAS_BASE_URL }}
          MONGODB_ATLAS_CLEAN_RETRY_ATTEMPTS: "1"
  cleanup-dev-cfntest:
    runs-on: ubuntu-latest
    steps:
      - name: terraform-provider-mongodbatlas-checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd
        with:
          repository: mongodb/terraform-provider-mongodbatlas
      - name: Cleanup cloud-dev CFN Test
        uses: ./.github/templates/clean-atlas-org
        env:
          MONGODB_ATLAS_PUBLIC_KEY: ${{ secrets.CLOUD_DEV_CFN_TEST_PUBLIC_KEY }}
          MONGODB_ATLAS_PRIVATE_KEY: ${{ secrets.CLOUD_DEV_CFN_TEST_PRIVATE_KEY }}
          MONGODB_ATLAS_ORG_ID: ${{ secrets.CLOUD_DEV_CFN_TEST_ORG_ID }}
          MONGODB_ATLAS_BASE_URL: ${{ vars.MONGODB_ATLAS_BASE_URL }}
          MONGODB_ATLAS_CLEAN_RETRY_ATTEMPTS: "1"
  cleanup-qa-env-rp:
    runs-on: ubuntu-latest
    steps:
      - name: terraform-provider-mongodbatlas-checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd
        with:
          repository: mongodb/terraform-provider-mongodbatlas
      - name: Cleanup cloud-dev CFN Test GitHub
        uses: ./.github/templates/clean-atlas-org
        env:
          MONGODB_ATLAS_PUBLIC_KEY: ${{ secrets.MONGODB_ATLAS_RP_PUBLIC_KEY_QA }}
          MONGODB_ATLAS_PRIVATE_KEY: ${{ secrets.MONGODB_ATLAS_RP_PRIVATE_KEY_QA }}
          MONGODB_ATLAS_ORG_ID: ${{ vars.MONGODB_ATLAS_RP_ORG_ID_QA }}
          MONGODB_ATLAS_BASE_URL: https://cloud-qa.mongodb.com/
          MONGODB_ATLAS_CLEAN_RETRY_ATTEMPTS: "1"  
  cleanup-prod-env-general:
    runs-on: ubuntu-latest
    steps:
      - name: terraform-provider-mongodbatlas-checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd
        with:
          repository: mongodb/terraform-provider-mongodbatlas
      - name: Cleanup cloud-dev CFN Test GitHub
        uses: ./.github/templates/clean-atlas-org
        env:
          MONGODB_ATLAS_PUBLIC_KEY: ${{ secrets.ATLAS_PUBLIC_KEY_PUBLISHING }}
          MONGODB_ATLAS_PRIVATE_KEY: ${{ secrets.ATLAS_PRIVATE_KEY_PUBLISHING }}
          MONGODB_ATLAS_ORG_ID: ${{ secrets.ATLAS_ORG_ID_PUBLISHING }}
          MONGODB_ATLAS_CLEAN_RETRY_ATTEMPTS: "1"  
  cleanup-prod-data-federation:
    runs-on: ubuntu-latest
    steps:
      - name: terraform-provider-mongodbatlas-checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd
        with:
          repository: mongodb/terraform-provider-mongodbatlas
          ref: 133ee57735e0c8f2b22e74bbd9f8c3fdd8da2f9c
      - name: Cleanup cloud-dev CFN Test GitHub
        uses: ./.github/templates/clean-atlas-org
        env:
          MONGODB_ATLAS_PUBLIC_KEY: ${{ secrets.ATLAS_PUBLIC_KEY_FOR_FEDERATION_PUBLISHING }}
          MONGODB_ATLAS_PRIVATE_KEY: ${{ secrets.ATLAS_PRIVATE_KEY_FOR_FEDERATION_PUBLISHING }}
          MONGODB_ATLAS_ORG_ID: ${{ vars.ATLAS_ORG_ID_FOR_FEDERATION_PUBLISHING }}
          MONGODB_ATLAS_CLEAN_RETRY_ATTEMPTS: "1"  
