name: 'Code Health'
on:
  push:
    branches:
      - master
  pull_request:
  merge_group:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
    - name: Set up Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
      with:
        go-version-file: 'cfn-resources/go.mod'
    - name: Build
      run: | 
        cd cfn-resources
        go build -v ./...
  mock-generation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
        with:
          go-version-file: 'cfn-resources/go.mod'
      - name: Generate mocks
        run: |
          make tools generate-mocks
      - name: Check for uncommited files
        run: |
          FILES=$(git ls-files -o -m --directory --exclude-standard --no-empty-directory)
          LINES=$(echo "$FILES" | awk 'NF' | wc -l)
          
          if [ "$LINES" -ne 0 ]; then
            echo "Detected files that need to be committed:"
            echo "$FILES" | while IFS= read -r line; do echo "  $line"; done
            echo ""
            echo "Mock skeletons are not up-to-date, you may have forgotten to run mockery before committing your changes."
            exit 1
          fi
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
        with:
          go-version-file: 'cfn-resources/go.mod'
          cache: false # see https://github.com/golangci/golangci-lint-action/issues/807
      - name: golangci-lint
        uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601
        with:
          version: v2.4.0 # Also update GOLANGCI_VERSION variable in Makefile when updating this version
          working-directory: cfn-resources
      - name: actionlint
        run: | 
           make tools 
           actionlint -verbose -color
        shell: bash
  check-copyright:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
        with:
          go-version-file: 'cfn-resources/go.mod'
      - name: install tools
        run: make tools
      - name: check copyright
        run: ./.github/scripts/check-licenses.sh
        shell: bash
  dependency-review:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'pull_request' }}
    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: 'Dependency Review'
        uses: actions/dependency-review-action@3c4e3dcb1aa7874d2c16be7d79418e9b7efd6261
  shellcheck:
    name: shellcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Run ShellCheck
        uses: bewuethr/shellcheck-action@80bac2daa9fcf95d648200a793d00060857e6dc4
  cfn-lint:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: 'Setup cfn-lint'
        uses: scottbrenner/cfn-lint-action@25ee47d1ab3146bda904df745511735cc0b9a970
      - name: 'Run cfn-lint'
        run: |
          shopt -s globstar # enable globbing
          cfn-lint --version
      - run: cfn-lint ./cfn-resources/**/*.yml
      - run: cfn-lint ./cfn-resources/**/*.yaml
        if: always() # run even if previous step fails to lint all files
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
        with:
          go-version-file: 'cfn-resources/go.mod'
      - name: run-unit-test
        run: make unit-test
