name: 'E2E Testing'
on:
  push:
    branches:
      - master
  pull_request:
env:
  MONGODB_ATLAS_PUBLIC_KEY: ${{ secrets.ATLAS_PUBLIC_KEY_QA }}
  MONGODB_ATLAS_PRIVATE_KEY: ${{ secrets.ATLAS_PRIVATE_KEY_QA }}
  MONGODB_ATLAS_ORG_ID: ${{ vars.ATLAS_ORG_ID_QA }}
  MONGODB_ATLAS_BASE_URL: https://cloud-qa.mongodb.com/
  MONGODB_ATLAS_SECRET_PROFILE: cfn-cloud-qa-github-action
jobs:
  change-detection:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
      repository-projects: read
    outputs:
      cluster: 'true'
      flex-cluster: 'true'
      project: 'true'
      search-deployment: 'true'
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        if: ${{ github.event_name == 'push' }}
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36
        id: filter
        with:
          filters: |
            cluster:
              - 'cfn-resources/cluster/**'
              - 'cfn-resources/test/e2e/cluster/**'
            flex-cluster:
              - 'cfn-resources/flex-cluster/**'
              - 'cfn-resources/test/e2e/flex-cluster/**'
            project:
              - 'cfn-resources/project/**'
              - 'cfn-resources/test/e2e/project/**'
            search-deployment:
              - 'cfn-resources/search-deployment/**'
              - 'cfn-resources/test/e2e/search-deployment/**'
  cluster:
    needs: change-detection
    if: ${{ needs.change-detection.outputs.cluster == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405
        with:
          python-version: '3.9'
          cache: 'pip'
      - run: pip install cloudformation-cli-go-plugin
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5
        with:
          go-version-file: 'cfn-resources/go.mod'
      - uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_TEST_ENV }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_TEST_ENV }}
          aws-region: eu-west-1
      - name: Run E2E test
        shell: bash
        run: |
          cd cfn-resources/test/e2e/cluster
          go test -timeout 90m -v -run '^TestClusterCFN$' .

  # Run idividual test in separate test group for parallel execution. 
  # Due to usage of t.Setenv() in test code t.Parallel() is not possible.
  # Having both tests run in same `go test` execution is not possible due to scripts used for private registry publishing modifying same files 
  cluster-pause:
    needs: change-detection
    if: ${{ needs.change-detection.outputs.cluster == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405
        with:
          python-version: '3.9'
          cache: 'pip'
      - run: pip install cloudformation-cli-go-plugin
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5
        with:
          go-version-file: 'cfn-resources/go.mod'
      - uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_TEST_ENV }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_TEST_ENV }}
          aws-region: eu-west-1
      - name: Run E2E test
        shell: bash
        run: |
          cd cfn-resources/test/e2e/cluster
          go test -timeout 90m -v -run '^TestClusterPauseCFN$' .    
  
  
  flex-cluster:
    needs: change-detection
    if: ${{ needs.change-detection.outputs.flex-cluster == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405
        with:
          python-version: '3.9'
          cache: 'pip'
      - run: pip install cloudformation-cli-go-plugin
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5
        with:
          go-version-file: 'cfn-resources/go.mod'
      - uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_TEST_ENV }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_TEST_ENV }}
          aws-region: eu-west-1
      - name: Run E2E test
        shell: bash
        run: |
          cd cfn-resources/test/e2e/flex-cluster
          go test -timeout 60m -v flexcluster_test.go
        
  project:
    needs: change-detection
    if: ${{ needs.change-detection.outputs.project == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405
        with:
          python-version: '3.9'
          cache: 'pip'
      - run: pip install cloudformation-cli-go-plugin
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5
        with:
          go-version-file: 'cfn-resources/go.mod'
      - uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_TEST_ENV }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_TEST_ENV }}
          aws-region: eu-west-1
      - name: Run E2E test
        shell: bash
        run: |
          cd cfn-resources/test/e2e/project
          go test -timeout 60m -v project_test.go
  search-deployment:
    needs: change-detection
    if: ${{ needs.change-detection.outputs.search-deployment == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405
        with:
          python-version: '3.9'
          cache: 'pip'
      - run: pip install cloudformation-cli-go-plugin
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5
        with:
          go-version-file: 'cfn-resources/go.mod'
      - uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_TEST_ENV }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_TEST_ENV }}
          aws-region: eu-west-1
      - name: Run E2E test
        shell: bash
        run: |
          cd cfn-resources/test/e2e/search-deployment
          go test -timeout 60m -v searchdeployment_test.go
