name: 'E2E Testing'
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  change-detection:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
      repository-projects: read
    outputs:
      project: ${{ steps.filter.outputs.project }}
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
        if: ${{ github.event_name == 'push' }}
      - uses: dorny/paths-filter@0bc4621a3135347011ad047f9ecf449bf72ce2bd
        id: filter
        with:
          filters: |
            project:
              - 'cfn-resources/project/**'
  project:
    needs: change-detection
    if: ${{ needs.change-detection.outputs.project == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      - uses: actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c
        with:
          python-version: '3.9'
          cache: 'pip'
      - run: pip install cloudformation-cli-go-plugin
      - name: Set up Go
        uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491
        with:
          go-version-file: 'cfn-resources/go.mod'
      - uses: aws-actions/configure-aws-credentials@010d0da01d0b5a38af31e9c3470dbfdabdecca3a
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_TEST_ENV }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_TEST_ENV }}
          aws-region: eu-west-1
      - name: Run E2E test
        shell: bash
        env:
          MONGODB_ATLAS_PUBLIC_KEY: ${{ secrets.ATLAS_PUBLIC_KEY }}
          MONGODB_ATLAS_PRIVATE_KEY: ${{ secrets.ATLAS_PRIVATE_KEY }}
          MONGODB_ATLAS_ORG_ID: ${{ secrets.ATLAS_ORG_ID }}
          MONGODB_ATLAS_BASE_URL: https://cloud-dev.mongodb.com/
          MONGODB_ATLAS_SECRET_PROFILE: cfn-cloud-dev-github-action
        run: |
          pushd cfn-resources/test/e2e/project
          go test -v project_test.go
