name: 'E2E Testing'
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  change-detection:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
      repository-projects: read
    outputs:
      cluster: ${{ steps.filter.outputs.cluster }}
      flex-cluster: ${{ steps.filter.outputs.flex-cluster }}
      project: ${{ steps.filter.outputs.project }}
      search-deployment: ${{ steps.filter.outputs.search-deployment }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        if: ${{ github.event_name == 'push' }}
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36
        id: filter
        with:
          filters: |
            cluster:
              - 'cfn-resources/cluster/**'
              - 'cfn-resources/test/e2e/cluster/**'
            flex-cluster:
              - 'cfn-resources/flex-cluster/**'
              - 'cfn-resources/test/e2e/flex-cluster/**'
            project:
              - 'cfn-resources/project/**'
              - 'cfn-resources/test/e2e/project/**'
            search-deployment:
              - 'cfn-resources/search-deployment/**'
              - 'cfn-resources/test/e2e/search-deployment/**'
  cluster:
    needs: change-detection
    if: ${{ needs.change-detection.outputs.cluster == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c
        with:
          python-version: '3.9'
          cache: 'pip'
      - run: pip install cloudformation-cli-go-plugin
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00
        with:
          go-version-file: 'cfn-resources/go.mod'
      - uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_TEST_ENV }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_TEST_ENV }}
          aws-region: eu-west-1
      - name: Run E2E test
        shell: bash
        env:
          MONGODB_ATLAS_PUBLIC_KEY: ${{ secrets.CLOUD_DEV_PUBLIC_KEY }}
          MONGODB_ATLAS_PRIVATE_KEY: ${{ secrets.CLOUD_DEV_PRIVATE_KEY }}
          MONGODB_ATLAS_ORG_ID: ${{ secrets.CLOUD_DEV_ORG_ID }}
          MONGODB_ATLAS_BASE_URL: https://cloud-dev.mongodb.com/
          MONGODB_ATLAS_SECRET_PROFILE: cfn-cloud-dev-github-action
        # Have each test defined in separate packages to allow for parallel execution. Due to usage of t.Setenv() in test code, t.Parallel() is not possible
        run: |
          cd cfn-resources/test/e2e
          go test ./cluster-pause ./cluster-basic -timeout 90m -v  
  
  flex-cluster:
    needs: change-detection
    if: ${{ needs.change-detection.outputs.flex-cluster == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c
        with:
          python-version: '3.9'
          cache: 'pip'
      - run: pip install cloudformation-cli-go-plugin
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00
        with:
          go-version-file: 'cfn-resources/go.mod'
      - uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_TEST_ENV }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_TEST_ENV }}
          aws-region: eu-west-1
      - name: Run E2E test
        shell: bash
        env:
          MONGODB_ATLAS_PUBLIC_KEY: ${{ secrets.CLOUD_DEV_PUBLIC_KEY }}
          MONGODB_ATLAS_PRIVATE_KEY: ${{ secrets.CLOUD_DEV_PRIVATE_KEY }}
          MONGODB_ATLAS_ORG_ID: ${{ secrets.CLOUD_DEV_ORG_ID }}
          MONGODB_ATLAS_BASE_URL: https://cloud-dev.mongodb.com/
          MONGODB_ATLAS_SECRET_PROFILE: cfn-cloud-dev-github-action
        run: |
          cd cfn-resources/test/e2e/flex-cluster
          go test -timeout 60m -v flexcluster_test.go
        
  project:
    needs: change-detection
    if: ${{ needs.change-detection.outputs.project == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c
        with:
          python-version: '3.9'
          cache: 'pip'
      - run: pip install cloudformation-cli-go-plugin
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00
        with:
          go-version-file: 'cfn-resources/go.mod'
      - uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_TEST_ENV }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_TEST_ENV }}
          aws-region: eu-west-1
      - name: Run E2E test
        shell: bash
        env:
          MONGODB_ATLAS_PUBLIC_KEY: ${{ secrets.CLOUD_DEV_PUBLIC_KEY }}
          MONGODB_ATLAS_PRIVATE_KEY: ${{ secrets.CLOUD_DEV_PRIVATE_KEY }}
          MONGODB_ATLAS_ORG_ID: ${{ secrets.CLOUD_DEV_ORG_ID }}
          MONGODB_ATLAS_BASE_URL: https://cloud-dev.mongodb.com/
          MONGODB_ATLAS_SECRET_PROFILE: cfn-cloud-dev-github-action
        run: |
          cd cfn-resources/test/e2e/project
          go test -timeout 60m -v project_test.go
  search-deployment:
    needs: change-detection
    if: ${{ needs.change-detection.outputs.search-deployment == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c
        with:
          python-version: '3.9'
          cache: 'pip'
      - run: pip install cloudformation-cli-go-plugin
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00
        with:
          go-version-file: 'cfn-resources/go.mod'
      - uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_TEST_ENV }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_TEST_ENV }}
          aws-region: eu-west-1
      - name: Run E2E test
        shell: bash
        env:
          MONGODB_ATLAS_PUBLIC_KEY: ${{ secrets.CLOUD_DEV_PUBLIC_KEY }}
          MONGODB_ATLAS_PRIVATE_KEY: ${{ secrets.CLOUD_DEV_PRIVATE_KEY }}
          MONGODB_ATLAS_ORG_ID: ${{ secrets.CLOUD_DEV_ORG_ID }}
          MONGODB_ATLAS_BASE_URL: https://cloud-dev.mongodb.com/
          MONGODB_ATLAS_SECRET_PROFILE: cfn-cloud-dev-github-action
        run: |
          cd cfn-resources/test/e2e/search-deployment
          go test -timeout 60m -v searchdeployment_test.go
