name: 'E2E Testing'
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  change-detection:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
      repository-projects: read
    outputs:
      cluster: ${{ steps.filter.outputs.cluster }}
      project: ${{ steps.filter.outputs.project }}
      search-deployment: ${{ steps.filter.outputs.search-deployment }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        if: ${{ github.event_name == 'push' }}
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36
        id: filter
        with:
          filters: |
            cluster:
              - 'cfn-resources/cluster/**'
              - 'cfn-resources/test/e2e/cluster/**'
            project:
              - 'cfn-resources/project/**'
              - 'cfn-resources/test/e2e/project/**'
            search-deployment:
              - 'cfn-resources/search-deployment/**'
              - 'cfn-resources/test/e2e/search-deployment/**'
  cluster:
    needs: change-detection
    if: ${{ needs.change-detection.outputs.cluster == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38
        with:
          python-version: '3.9'
          cache: 'pip'
      - run: pip install cloudformation-cli-go-plugin
      - uses: actions/setup-go@f111f3307d8850f501ac008e886eec1fd1932a34
        with:
          go-version-file: 'cfn-resources/go.mod'
      - uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_TEST_ENV }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_TEST_ENV }}
          aws-region: eu-west-1
      - name: Run E2E test
        shell: bash
        env:
          MONGODB_ATLAS_PUBLIC_KEY: ${{ secrets.CLOUD_DEV_PUBLIC_KEY }}
          MONGODB_ATLAS_PRIVATE_KEY: ${{ secrets.CLOUD_DEV_PRIVATE_KEY }}
          MONGODB_ATLAS_ORG_ID: ${{ secrets.CLOUD_DEV_ORG_ID }}
          MONGODB_ATLAS_BASE_URL: https://cloud-dev.mongodb.com/
          MONGODB_ATLAS_SECRET_PROFILE: cfn-cloud-dev-github-action
        run: |
          cd cfn-resources/test/e2e/cluster
          go test -timeout 90m -v cluster_test.go
  project:
    needs: change-detection
    if: ${{ needs.change-detection.outputs.project == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38
        with:
          python-version: '3.9'
          cache: 'pip'
      - run: pip install cloudformation-cli-go-plugin
      - uses: actions/setup-go@f111f3307d8850f501ac008e886eec1fd1932a34
        with:
          go-version-file: 'cfn-resources/go.mod'
      - uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_TEST_ENV }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_TEST_ENV }}
          aws-region: eu-west-1
      - name: Run E2E test
        shell: bash
        env:
          MONGODB_ATLAS_PUBLIC_KEY: ${{ secrets.CLOUD_DEV_PUBLIC_KEY }}
          MONGODB_ATLAS_PRIVATE_KEY: ${{ secrets.CLOUD_DEV_PRIVATE_KEY }}
          MONGODB_ATLAS_ORG_ID: ${{ secrets.CLOUD_DEV_ORG_ID }}
          MONGODB_ATLAS_BASE_URL: https://cloud-dev.mongodb.com/
          MONGODB_ATLAS_SECRET_PROFILE: cfn-cloud-dev-github-action
        run: |
          cd cfn-resources/test/e2e/project
          go test -timeout 60m -v project_test.go
  search-deployment:
    needs: change-detection
    if: ${{ needs.change-detection.outputs.search-deployment == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38
        with:
          python-version: '3.9'
          cache: 'pip'
      - run: pip install cloudformation-cli-go-plugin
      - uses: actions/setup-go@f111f3307d8850f501ac008e886eec1fd1932a34
        with:
          go-version-file: 'cfn-resources/go.mod'
      - uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_TEST_ENV }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_TEST_ENV }}
          aws-region: eu-west-1
      - name: Run E2E test
        shell: bash
        env:
          MONGODB_ATLAS_PUBLIC_KEY: ${{ secrets.CLOUD_DEV_PUBLIC_KEY }}
          MONGODB_ATLAS_PRIVATE_KEY: ${{ secrets.CLOUD_DEV_PRIVATE_KEY }}
          MONGODB_ATLAS_ORG_ID: ${{ secrets.CLOUD_DEV_ORG_ID }}
          MONGODB_ATLAS_BASE_URL: https://cloud-dev.mongodb.com/
          MONGODB_ATLAS_SECRET_PROFILE: cfn-cloud-dev-github-action
        run: |
          cd cfn-resources/test/e2e/search-deployment
          go test -timeout 60m -v searchdeployment_test.go
