name: Update Atlas Go SDK
on:
 schedule:
   - cron: "30 8 * * TUE" # Every Tuesday at 8:30 AM 
 workflow_dispatch:
  
jobs:
  update-sdk:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5
        with:
          go-version-file: 'cfn-resources/go.mod'
      - name: Update files
        run:  make tools update-atlas-sdk generate-mocks
      - name: Create PR
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725
        with:
          token: ${{ secrets.APIX_BOT_PAT }}
          title: "chore: Updates Atlas Go SDK"
          commit-message: "build(deps): bump go.mongodb.org/atlas-sdk"
          delete-branch: true
          branch: atlas-sdk-update
          body: Automatic update for MongoDB Atlas Go Client SDK
