name: Update Atlas Go SDK
on:
 schedule:
   - cron: "30 8 * * TUE" # Every Tuesday at 8:30 AM 
 workflow_dispatch:
  
jobs:
  update-sdk:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417
        with:
          go-version-file: 'cfn-resources/go.mod'
      - name: Update files
        run:  make tools update-atlas-sdk generate-mocks
      - name: Create PR
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0
        with:
          token: ${{ secrets.APIX_BOT_PAT }}
          title: "chore: Updates Atlas Go SDK"
          commit-message: "build(deps): bump go.mongodb.org/atlas-sdk"
          delete-branch: true
          branch: atlas-sdk-update
          body: Automatic update for MongoDB Atlas Go Client SDK
