name: Update Atlas Go SDK
on:
 schedule:
   - cron: "30 8 * * TUE" # Every Tuesday at 8:30 AM 
 workflow_dispatch:
  
jobs:
  update-sdk:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
        with:
          go-version-file: 'cfn-resources/go.mod'
      - name: Update files
        run:  make tools update-atlas-sdk generate-mocks
      - name: Create PR
        uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412
        with:
          token: ${{ secrets.APIX_BOT_PAT }}
          title: "chore: Updates Atlas Go SDK"
          commit-message: "build(deps): bump go.mongodb.org/atlas-sdk"
          delete-branch: true
          branch: atlas-sdk-update
          body: Automatic update for MongoDB Atlas Go Client SDK
